/* =============================================================================
   Base
   ========================================================================== */

body {
	padding-top: 20px; /* 60px to make the container go all the way to the bottom of the topbar */
}
.center {
	display: block;
	margin-left:auto;
	margin-right:auto;
}


/* =============================================================================
   Header
   ========================================================================== */

header {
	text-align: center;
}

georgia {
	font-family: Georgia;
}

/* =============================================================================
   Content
   ========================================================================== */

#content { }

canvas { }

#i-love-hax .label {
	font-size: 40px;
}

#relevant-trend {
	margin-top: 10px;
}

.data-row-label {
	margin-top: 30px;
	margin-bottom: 50px;
}

.data-row-header {
	margin-top: 15px;
}

#hr-sparkline-after {
	margin-left: 15px;
}

.label-footer {
	font-size: 24px;
	padding: 5px 5px 5px;
	vertical-align: baseline;
}

.label-medium {
	font-size: 24px;
	vertical-align: 16px;
	padding: 2px 15px;
}

.label-big {
	font-size: 58px;
	vertical-align: 16px;
	padding: 2px 15px;
}

.label-big a {
	color: #FFF;
	text-decoration: none;
}

/*
.full-label {
	width: 200px;
	line-height: 35px;
	vertical-align: 41px;
}
*/

.btn-option {
	font-size: 24px;
	font-weight: normal;
	padding: 20px 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.btn-group-option {
	width: 265px;
	font-size: 24px;
	font-weight: bold;
	padding: 10px 0px;
}

.btn-modal {
	padding: 11px 0px;
	width: 108px;
	font-size: 30px;
	line-height: normal;
	margin: 10px 9px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.btn-big {
	font-size: 58px;
	font-weight: bold;
	vertical-align: 0px;
	padding: 28px 0px;
	width: 160px;
}

.modal-body { }

.modal-body .row {
	display: block;
	margin-left: 4px;
	margin-right: auto;
	margin-bottom: 10px;
}

.modal .label-primary {
	background-color: #04c;
}

#parameters .parameter {
	margin-bottom: 19px;
}

#parameters .label, b { 
	font-size: 18px;
	vertical-align: baseline;
}

#accept-decline-buttons {
	margin-top: 20px;
}

#accept-decline-buttons .btn {
	font-size: 24px;
	font-weight: bold;
	padding: 10px 0px;
	margin-left: 0px;
}

#upper-lower-selectors {
	margin-bottom: 10px;
}

#bp-input {
	font-size: 24px;
	height: 24px;
	width: 255px;
}


/* =============================================================================
   Primary Content
   ========================================================================== */

#main { }


/* =============================================================================
   Footer
   ========================================================================== */

.navbar .nav > li > a {
	font-size: 24px;
	padding: 10px 5px 1px;
	line-height: 40px;
}
